* {
    color: white;
}

h1 {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    margin: 0 auto;
    background-image: url("../img/minecraft-background.png");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu {
    width: 50%;
    margin: auto;
}

#global_header, #footer {
    width: 100%;
    height: 100px;
    background-color: #171a21;
}

#footer {
    position: absolute;
    bottom: 0;
}